<app-layout>
    <h1>{{ 'ProductDetails.Title' | translate }}</h1>
    <div class="callout large">
      <h3>{{ restaurant?.name }}</h3>

      <div class="productDetails-contentWrapper">
        <div class="columns">
          <h5>{{ 'ProductDetails.Id' | translate }}</h5>
          <p>{{ restaurant?.restaurant_id }}</p>
        </div>

        <div class="columns">
          <h5>{{ 'ProductDetails.Borough' | translate }}</h5>
          <p>{{ restaurant?.borough }}</p>
        </div>

        <div class="columns">
          <h5>{{ 'ProductDetails.Cuisine' | translate }}</h5>
          <p>{{ restaurant?.cuisine }}</p>
        </div>

        <div class="columns">
          <h5>{{ 'ProductDetails.Grades' | translate }}</h5>
          <p>{{ restaurant?.grades }}</p>
        </div>
        
        <div class="columns">
          <h5>{{ 'ProductDetails.Address' | translate }}</h5>
          <p>{{ restaurant?.address }}</p>
        </div>

        <div class="columns">
          <h5>{{ 'ProductDetails.Name' | translate }}</h5>
          <p>{{ restaurant?.name }}</p>
        </div>
      </div>

      <a routerLink="/products">
        <button type="button" class="button basic-btn productDetails-backBtn">
          <strong><</strong> {{ 'BackBtn' | translate }}
        </button>
      </a>

      <spinner [isRunning]="productsSandbox.productDetailsLoading$ | async"></spinner>
      
    </div>
  </app-layout>