<app-layout>
  <h1>{{ 'Products.Title' | translate }}</h1>
  <div class="products-grid-wrapper">
    <ngx-datatable
      class="material striped"
      [rows]="productsSandbox.instances"
      [columns]="[
        { prop: 'name', name: 'ProductDetails.Name' | translate },
        { prop: 'restaurant_id', name: 'ProductDetails.Id' | translate },
        { prop: 'cuisine', name: 'ProductDetails.Cuisine' | translate },
        { prop: 'borough', name: 'ProductDetails.Borough' | translate }
      ]"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="43"      
      [count]="productsSandbox.total"
      [selectionType]="'single'"
      [externalPaging]="true"
      [offset]="productsSandbox.currentPage"
      [limit]="15"
      (select)="onSelect($event)"
      (page)="onPage($event)">
    </ngx-datatable>

    <spinner [isRunning]="productsSandbox.productsLoading$ | async"></spinner>
  </div>
</app-layout>