<h1>To Dos</h1>

<p>This component demonstrates fetching data from Session.</p>

<p *ngIf="!model"><em>Loading...</em></p>

<p *ngIf="model">
    <a [routerLink]="['/todo/details']">
        Add New To-Do
    </a>
</p>

<table class='table' *ngIf="model">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Due</th>
            <th>Completed</th>
            <th>When Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of model">
            <td>{{ todo.id }}</td>
            <td>
                <a [routerLink]="['/todo/details', todo.id]">
                    {{ todo.name }}
                </a>                
            </td>
            <td>{{ todo.whenDue }}</td>
            <td>
                <span *ngIf="todo.completed">Yes</span>
                <span *ngIf="!todo.completed">No</span>
            </td>
            <td>{{ todo.whenCompleted}}</td>
        </tr>
    </tbody>
</table>