<h1>Restaurant Details</h1>

<p>This component demonstrates fetching details data from MongoDB.</p>

<p *ngIf="!model.data"><em>Loading...</em></p>

<p *ngIf="model.data && model.data.name && model.data.due && model.data.completed">
    Found restaurant {{ model.data.name }} that serves {{ model.data.due }} cuisine in {{ model.data.completed }}.
</p>

<form *ngIf="model.data">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="model.data.name">
    </div>
    <div class="form-group">
        <label for="Due">Due</label>
        <input type="text" class="form-control" name="due" id="due" required [(ngModel)]="model.data.due">
    </div>
    <div class="form-group">
        <label for="Completed">Completed</label>
        <input type="text" class="form-control" name="completed" id="completed" required [(ngModel)]="model.data.completed">
    </div>

    <button type="button" class="btn btn-success" (click)="doSubmit();">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp; 
    <button type="button" class="btn" (click)="doDelete();">Delete</button> &nbsp;&nbsp;&nbsp;&nbsp; 
    <button type="button" class="btn" (click)="goBack();">Cancel</button>

    <div *ngIf="model.message" class="form-group">
        <br />
        <label for="message">Message</label>
        <span>{{ model.message }}</span>
    </div>
</form>
