<h1>Restaurant Details</h1>

<p>This component demonstrates fetching details data from MongoDB.</p>

<p *ngIf="!model.data"><em>Loading...</em></p>

<p *ngIf="model.data && model.data.Name && model.data.Due && model.data.Completed">
    Found restaurant {{ model.data.Name }} that serves {{ model.data.Due }} cuisine in {{ model.data.Completed }}.
</p>

<form *ngIf="model.data">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="Name" id="Name" required [(ngModel)]="model.data.Name">
    </div>
    <div class="form-group">
        <label for="borough">Due</label>
        <input type="text" class="form-control" name="Due" id="Due" required [(ngModel)]="model.data.Due">
    </div>
    <div class="form-group">
        <label for="cuisine">Cuisine</label>
        <input type="text" class="form-control" name="Completed" id="Completed" required [(ngModel)]="model.data.Completed">
    </div>

    <button type="button" class="btn btn-success" (click)="doSubmit();">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp; 
    <button type="button" class="btn" (click)="doDelete();">Delete</button> &nbsp;&nbsp;&nbsp;&nbsp; 
    <button type="button" class="btn" (click)="goBack();">Cancel</button>

    <div *ngIf="model.message" class="form-group">
        <br />
        <label for="message">Message</label>
        <span>{{ model.message }}</span>
    </div>
</form>
