<h1>To Dos</h1>

<p>This component demonstrates fetching data from Session.</p>

<p *ngIf="!model"><em>Loading...</em></p>

<p *ngIf="model">
    <button type="button" class="btn btn-success" [routerLink]="['/todo/details']">Add New ToDo</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn" (click)="toggleCompleted();">Toggle Completed</button>
</p>

<table class='table' *ngIf="model">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Due</th>
            <th>Completed</th>
            <th>When Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of filtered" [attr.class]="!todo.completed ? 'still-open': null">
            <td width="10%">{{ todo.id }}</td>
            <td width="20%">
                <a [routerLink]="['/todo/details', todo.id]">
                    {{ todo.name }}
                </a>                
            </td>
            <td width="30%">{{ todo.whenDue }}</td>
            <td width="10%">
                <span *ngIf="todo.completed">Yes</span>
                <span *ngIf="!todo.completed">No</span>
            </td>
            <td width="30%">{{ todo.whenCompleted}}</td>
        </tr>
    </tbody>
</table>